/* gray: #84857e */
/* gold: #a9a471 */


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    max-height: 53px;
    position: relative;
}
.splash-logo {
    font-family: "Berthold Akzidenz Grotesk BE";
    color: black;
    transform: translateX(-20px);
    height: 25px;
}

#up {
    color: black;
}

.navbar-right {
    font-family: "Berthold Akzidenz Grotesk BE";
    color: black;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

.nav-shoes {
    height: 80px;
    transform: translateY(12px);

}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right :last-child{
     margin-left: 12px;
     padding-right: 20px;
}

.navbar-right li {
    text-decoration: none;
    color: black;
}

.navbar-right li:hover {
    color: #a9a471;
    cursor: pointer;
}


.hero {
    z-index: -1;
    position: absolute;
    background-image: url(../../public/splash-hero.png);
    width: 100%;
    height: 715px;
    top: 53px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

.tag-container {
    width: 100%;
    height: 500px;
    z-index: 6;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(30.5%);
}

#tag {
    /* transform: translateY(-50%); */
    left: 4%;
    color: white;
    font-family: "Berthold Akzidenz Grotesk BE";
    font-size: 4.8vw;
    position: relative;
    transform: translateX(4%);
    
}

#sub-tag {
    transform: translateY(-150%) translateX(2%);
    right: 4%;
    color: white;
    font-family: "Berthold Akzidenz Grotesk BE";
    font-size: 2vw;
    position: relative;
}

.tag-list {
    list-style: none;
}

.signup-btn {
    z-index: 3;
    position: absolute;
    object-fit: cover;
    /* transform: translateY(10vh); */
    font-family: "Berthold Akzidenz Grotesk BE";
    font-size: 16px;
    background-color: black;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.tag-list {
    transform: translateY(15vh);
}

.signup-btn {
    transform: translateY(25vh);
}

.signup-btn:hover {
    cursor: pointer;
    background-color: gray;
}

.modal-background {
    height: 200px;
    width: 250px;
    position: fixed;
    z-index: 78;
    background-color: white;
    overflow-y: scroll;
    display: flex; 
    top: -20%;
    transform: translateY(100%);
}

.modal-background-closed {
    display: none;
}

.su-modal-background {
    height: 300px;
    width: 250px;
    position: fixed;
    z-index: 78;
    background-color: white;
    overflow-y: scroll;
    display: flex; 
    top: -20%;
    transform: translateY(40%);
}

.su-modal-background-closed {
    display: none;
}

.navbar-right-loggedin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-right-loggedin li:hover {
    color: #a9a471;
    cursor: pointer;
}

.navbar-right-loggedin li {
    list-style: none;
    text-decoration: none;
    font-family: "Berthold Akzidenz Grotesk BE";
    font-size: 25px;
}

.navbar-right-loggedin a {
    text-decoration: none;
    color: black;
    padding: 0%;
}

.navbar-right-loggedin a:hover {
    color: #a9a471;
    cursor: pointer;
}

.navbar-right-loggedin :last-child{
     margin-left: 12px;
     padding-right: 20px;
}

.navbar-right-loggedin :first-child{
     padding-right: 0;
}