/* gray: #84857e */
/* gold: #a9a471 */

.index {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: gray;
    height: 100vh;
}

.top {
    display: flex;
    width: 100%;
    height: 90vh;
}


.games {
    width: 15vw;
    background-image: linear-gradient( rgb(73, 73, 73),  rgb(73, 73, 73), rgb(73, 73, 73));
    /* background-color: #a9a471; */
    font-family: "Berthold Akzidenz Grotesk BE";
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    z-index: 4;

}

.game-list {
    height: inherit;
    overflow-y: scroll;
}
.games h2 {
    /* transform: translateX(20%) translateY(100%); */
    margin: 0%;
    padding-top: 4vh;
    padding-bottom: 2vh;
    font-size: 2vw;
    width: 98%;
    color: rgb(255, 255, 255);
    z-index: 1000;
    padding-left: 2%;
    /* text-decoration: underline;
    text-decoration-color: rgb(63, 63, 63); */
    background-image: linear-gradient(to right, rgb(41, 40, 40), rgb(36, 36, 36));
    
}

.games h3 {
    margin: 0%;
}

.games h3:last-child{
    padding-bottom: 2vh;
}

.games ul {
    margin: 0;
    font-size: .8vw;
    padding: 0%;
    border-top: rgb(255, 255, 255) 2px solid;
    height: 100%;
    display: flex;
    
}

.game-list-item {
    width: 100%;
    margin: 0%;
}

.game-list-item:hover {
    cursor: pointer;
    background-color:rgb(36, 36, 36);
}

.games a {
    text-decoration: none;
    color: white;
    height: inherit;
    margin-right: 4%;
}

.games a div {
    margin-left: 6%;
    margin-top: 2%;
}

.games a div h3:first-child {
    font-size: 1.2vw;
    font-family: "Berthold Bold";
    margin-bottom: 2%;
    margin-top: 5%;
}

.games a div h3 {
    margin-bottom: 2%;
}


.index {
    display: flex;
    flex-direction: column;
}


.map { 
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map > div {
    width: 100%;
    height: 100%;
}
.map-container {
    width: inherit;
    position: absolute;
    height: inherit;
}


.set-games {
    width: 15vw;
    background-color: saddlebrown;
    font-family: "Berthold Akzidenz Grotesk BE";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 4;
    overflow-y: scroll;
}

.set-games h2 {
    /* transform: translateX(20%) translateY(100%); */
    margin: 0%;
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-size: 2vw;
    color: white;
    z-index: 1000;
}

.set-games h3 {
    margin: 0%;
}

.set-games h3:last-child{
    margin-bottom: 2vh;
}

.set-games ul {
    margin: 0;
    font-size: 1vw;
    padding: 0%;
}

.new-game{
    /* display: none; */
    z-index: 1000;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.num-circle, .num-circle-set {
    margin-top: 4%;
    margin-left: 2%;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    padding: .2vw;
    background: #a9a471;
    color: white;
    text-align: center;
    flex-shrink: 0;

    font: 1.6vw "Berthold Akzidenz Grotesk BE";
}

.num-circle-set {
   background: rgb(36, 36, 36);
}

.hide-me {
    display: none;
}

