.index {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: gray;
    height: 100vh;
}

.games {
    display: flex;
    flex-direction: column;
}

.map { 
    margin-top: 70px;
    margin-left: 70px;
}

.games h2 {
    transform: translateX(20%) translateY(100%);
    text-decoration: underline;
}

.games ul {
    margin: 0;
}