/* gray: #84857e */
/* gold: #a9a471 */


@font-face{
    font-family: "Berthold Regular";
    src: url('../../public/berthold-regular.ttf')
}
@font-face{
    font-family: "Berthold Bold";
    src: url('../../public/berthold-bold.ttf')
}
 
.index {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: gray;
    height: 95vh;
}

.top {
    display: flex;
    width: 100%;
    height: 95vh;
}


.games {
    width: 15vw;
    background-color: rgb(73, 73, 73);
    background-image: url('../../public/list-background.png');
    background-size: 100%;
    /* background-color: #a9a471; */
    font-family: "Berthold Regular";
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    z-index: 4;

}

.game-list {
    height: inherit;
    overflow-y: scroll;
    width: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.scrollbar {
    height: inherit;
}

.game-list::-webkit-scrollbar {
  display: none;
}

.set-game-list {
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    width: 100%;
    -ms-overflow-style: none;
}

.set-game-list::-webkit-scrollbar {
  display: none;
}


.games h2 {
    /* transform: translateX(20%) translateY(100%); */
    margin: 0%;
    padding-top: 4vh;
    padding-bottom: 2vh;
    /* height: 10vh; */
    font-size: 2vw;
    width: 98.3%;
    color: rgb(255, 255, 255);
    z-index: 1000;
    padding-left: 2%;
    /* text-decoration: underline;
    text-decoration-color: rgb(63, 63, 63); */
    /* border: 2px solid black; */
    background-image: url("../../public/gray-stripes.png"), 
    linear-gradient(to right, rgb(41, 40, 40), rgb(36, 36, 36));
    background-size: 800%;
}

#list-foot {
    margin: 0%;
    padding: 0%;
    /* padding-top: 4vh;
    padding-bottom: 2vh; */
    font-size: 2vw;
    width: 98.5%;
    color: rgb(255, 255, 255);
    /* z-index: 1000; */
    /* padding-left: 2%; */
    /* text-decoration: underline;
    text-decoration-color: rgb(63, 63, 63); */
    /* border: 2px solid black; */
    background-image: none;
    margin-left: 4%;
    /* overflow-y: scroll; */
    overflow: hidden;
}

.games h3 {
    margin: 0%;
}

.games h3:last-child{
    padding-bottom: 2vh;
}

.games ul {
    margin: 0;
    font-size: .8vw;
    padding: 0%;
    border-top: rgb(255, 255, 255) 2px solid;
    height: 100%;
    display: flex;
}
.highlight-item {
    margin: 0;
    font-size: .8vw;
    padding: 0%;
    border-top: rgb(255, 255, 255) 2px solid;
    height: 100%;
    display: flex;
    background-color:rgb(36, 36, 36);
}


.game-list-item {
    width: 100%;
    margin: 0%;
    max-width: 100%;
    overflow-x: hidden;
}
.game-list-item:hover {
    cursor: pointer;
    background-color:rgb(36, 36, 36);
}

.games a {
    text-decoration: none;
    color: white;
    height: inherit;
    margin-right: 4%;
    letter-spacing: .05vw;
    width: 100%;
}

.games a div {
    margin-left: 6%;
    margin-top: 2%;
}

.games a div h3:first-child {
    font-size: 1.2vw;
    font-family: "Berthold Bold";
    margin-bottom: 2%;
    margin-top: 5%;
}

.games a div h3 {
    margin-bottom: 2%;
}


.index {
    display: flex;
    flex-direction: column;
}


.map { 
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map > div {
    width: 100%;
    height: 100%;
}
.map-container {
    width: inherit;
    position: absolute;
    height: inherit;
}



.ng-btn {
    position: absolute;
    z-index: 56;
    left: 30vw;
    color: #3f3f3e;
    font-family: "Berthold Bold";
    font-size: 1.3vw;
    transform: translateY(7.5vh) translateX(1.8vw);
    background-color: white;
    padding: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 4px;
    margin: 0%;

}

.ng-btn:hover {
    cursor: pointer;
    color: #1a1a19;
}

.new-game {
    display: none;
}


.new-game-b {
    display: block;
    z-index: 3;
    background-color: white;
    position: absolute;
    width: 200px;
    height: 138px;
    left: 30vw;
    transform: translateY(24vh);
    padding-top: 10px;
    padding-bottom: 25px;
    animation-name: slide-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    from {
        transform: translateY(24vh) translateX(-240px) scale(1.2);
        overflow: hidden;
        }
    to {
        transform: translateY(24vh) translateX(20px) scale(1.2);
        overflow: hidden;
        }
}

.new-game-b form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-game-b h1 {
    font-family: "Berthold Regular";
    margin: 0%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 25px;
    margin-bottom: 7%;
}

.new-game-b p {
    float: right;
    margin-right: 3%;
}

.new-game-b input {
    margin-bottom: 1px;
    width: 140px;
    padding: 0%;
}
.new-game-b input[type=submit] {
    width: 140px;
    padding: 0%;
    border:none;
    border-radius: 4px;
    background-color: black;
    color: white;
}

#city {
    font-size: 12px;
}

#city-div {
    display: flex;
    width: 67%;
    align-items: flex-start;
}

.time-line {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.time-line select:first-child {
    width: 40px;
}
.time-line select:nth-child(2) {
    width: 40px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.num-circle, .num-circle-set {
    margin-top: 4%;
    margin-left: 2%;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    padding: .2vw;
    background: #a9a471;
    color: white;
    text-align: center;
    flex-shrink: 0;

    font: 1.6vw "Berthold Regular";
}

.num-circle-set {
   background: rgb(36, 36, 36);
}

.hide-me {
    display: none;
}

.ng-closeout:hover {
    cursor: pointer;
}

.test1 {
    z-index: 2500;
    width: 100%;
    height: 100%;
}

.scrollbar {
    height: 100vh;
}

#color {
    width: 100%;
    height: 10vh;
    display: flex;
    height: 70vh;
    max-height: 683px;
}

#color-left {
    width: 50%;
    max-height: 683px;
    overflow: hidden;
    border-top: gray;
    display: flex;
    align-items: flex-end;
}
#color-right {
    width: 50%;
    border-left: rgb(36, 36, 36) solid 1px;
    max-height: 683px;
    overflow: hidden;
    border-top: gray;
    border-width: 3px;
}

#divider {
    height: 5vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    background-image: url("../../public/gray-stripes.png"), 
    linear-gradient(to right, rgb(41, 40, 40), rgb(36, 36, 36));
    background-size: 100%;
    display: flex;
    align-items: flex-end;
}

#copyright {
    color: white;
    font: .9vw "Berthold Regular";
    transform: translateX(13%) translateY(-35%);
    margin: 0%;
    position: absolute;
}